h1 {
  text-align: center;
}


#potato {
  position: relative;
  width: 367px;
  height: 500px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#potato img {
  position: absolute;
}

/* Insert CSS for body below this line*/
#body { 
  top: 28px; left: 68px; 
}

#arms_image {
    top: 170px; left: 25px; 
}



/* Insert CSS for ears below this line*/
#ears_image { 
  bottom: 350px; right: 50px;
  
}



/* Insert CSS for eyes below this line*/


#eyes_image { 
  bottom: 350px; right: 140px;
  
}


/* Insert CSS for mouth below this line*/
#mouth_image { top: 200px; left: 129px; z-index: 10; }




/* Insert CSS for nose below this line*/
#nose_image { 
  top: 120px; left: 129px; 
}



/* Insert CSS for eyebrows below this line*/




/* Insert CSS for glasses below this line*/




/* Insert CSS for hat below this line*/
#hat_image{
left:98px;
top: 10px;
}




/* Insert CSS for arms below this line*/




/* Insert CSS for moustache below this line*/




/* Insert CSS for shoes below this line*/




/* Insert CSS for cane below this line*/




/* Insert CSS for earrings below this line*/




/* Insert CSS for arms below this line*/




/* Insert CSS for hatflower below this line*/




/* Insert CSS for boosters below this line*/



